* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainheading{
font-family: 'Otomanopee One', sans-serif;
color: #222243;
font-size: 24px;
}
body {
  font-family: "Poppins", sans-serif;
  margin-top: 12px;
  height: 100vh;
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.section-heading {
  text-align: center;
  color: #ff6969;
  font-family: "Kaushan Script", cursive;
  font-size: 55px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.about__details {
  flex-basis: 50%;
  margin-right: 20px;
}
.about__details h3 {
  font-size: 30px;
  color: #6b645d;
}
.about__details p {
  color: #6b645d;
  line-height: 1.8;
  margin-top: 10px;
}
.about__image {
  max-width: 640px;
  flex-basis: 50%;
  position: relative;
}
.about__image img {
  max-width: 100%;
}
.about__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("splash.jpg");
  background-size: 100%;
  background-position: center;
  mix-blend-mode: screen;
}
